@use 'abstracts';

* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    @include abstracts.user-select(none);
}

body {
    min-height: 100vh;
    background: abstracts.$background-color-primary;
}
