@use '/src/styles/abstracts';

.header {
  padding-top: clamp(50px, 15vh, 200px);
  @include abstracts.display-center;
}

.header h2 {
  font-size: 30px;
  color: abstracts.$font-color-primary;

  @include abstracts.screen-size(medium) {
    font-size: 36px;
  }

  @include abstracts.screen-size(large) {
    font-size: 42px;
  }
}
