@use '/src/styles/abstracts/colors';
@use '/src/styles/abstracts/mixins';

.header {
    padding-top: clamp(50px, 15vh, 200px);
    @include mixins.display-center;
}

.header h2 {
    font-size: 36px;
    color: colors.$font-color-primary;
}