@use '/src/styles/components';
@use 'styles/abstracts/mixins';
@use 'styles/abstracts/colors';

.content {
  @include mixins.display-center;
  min-height: 50vh;
}

.inputBox {
  position: relative;
  color: colors.$icon-color;
  width: 450px;
}

.copy {
  position: absolute;
  top: 33px;
  right: 20px;
  cursor: pointer;
  opacity: 0.2;
}

.copy:hover {
  opacity: 1;
}

.password-list-item {
  min-width: 15vw;
}

.mat-button-base {
  margin-left: 1em;
}
